<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Double Lab</title>

    @* Google Fonts Setup. *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    @* eiei *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar_style.css">
    <link rel="stylesheet" href="~/css/user/index_style.css">

    @* ADMIN *@
    <link rel="stylesheet" href="~/css/admin/index_style.css">
    <link rel="stylesheet" href="~/css/admin/blacklist_style.css">
    <link rel="stylesheet" href="~/css/table_style.css">

    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script src="~/js/admin/blacklist.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="nav-container">
            <div class="nav-brand-box">
                <div class="nav-icon"></div>
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Double Labs</a>
            </div>

            <div class="nav-menu">

                <div class="nav-item-text">
                    <a asp-controller="Home" asp-action="Index">Logout</a>
                </div>

                <div class="nav-item nav-expand" onclick="showNavbar()">
                    <img src="https://cdn.discordapp.com/attachments/817783466379968572/832547946557341708/hamburger.png"
                        alt="hambergur-menu">
                </div>

            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Double Lab - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>

</html>