@using softstu_project.Models;
@{
    var lab = ViewData["LabInfo"] as Laboratory;
    var itemSet = ViewData["LabItemSet"] as List<int>;

    var transactions = ViewData["LabTransactions"] as List<Transaction>;
}
<div class="booking-container">
    <div class="lab-header">@lab.name</div>
    <form action="">
        <div class="input-form">
            <div class="input-container">
                <label for="">อุปกรณ์</label>
                <select name="" id="item-selector" onchange="selectItem()">
                    <option value="DUMMY" selected>เลือกอุปกรณ์</option>
                    @foreach (var index in itemSet)
                    {
                        <option value="@index">@((ItemTypes)index)</option>
                    }
                </select>
            </div>
            <div class="input-container">
                <label for="">วันที่</label>
                <input type="date" name="" id="date-selector" onchange="selectDate()" />
            </div>
            <div class="input-container">
                <label for="">จำนวน</label>
                <select name="" id="quantity-selector" onselect="selectQuantity()">
                    <option value="DUMMY">เลือกจำนวนอุปกรณ์</option>
                </select>
            </div>
        </div>
        <div class="input-time-select">
            <label>ช่วงเวลาที่สามารถจองได้</label>
            <div class="radio-container">
                <input type="radio" name="select-time" id="time-1" disabled>
                <label for="time-1" class="radio-label">09:00 - 12:00</label>
                <input type="radio" name="select-time" id="time-2" disabled>
                <label for="time-2" class="radio-label">13:00 - 16:00</label>
            </div>
        </div>
        <button>Submit</button>
    </form>

</div>
@section Scripts {
@* เลือกวันที่ -> ไปขอจำนวน item ที่ว่างในแต่ละช่วงเวลา am, pm (process อื่น ไปทำใน controller)*@
<script>

    const itemSelector = document.getElementById('item-selector');
    const dateSelector = document.getElementById('date-selector');
    const quantitySelector = document.getElementById('quantity-selector');

    const itemQuantity = {
        am: 2,
        pm: 4,
    }

    function selectItem() {
        /*
        if (dateSelector.value === "") return
        if (itemSelector.value === "DUMMY") {
            console.log("EMPTY ITEM")
            clearForm();
            return
        }
        */

        /* Query */
        getItemTimeSlot();
        console.log("SELECT ITEM", itemSelector.value)
    }

    function selectDate() {
        console.log(dateSelector.value)
        if (itemSelector.value === "DUMMY") return
        if (dateSelector.value === "") {
            console.log("EMPTY DATE")
            clearForm();
            return
        }

        /* Query */

        console.log("SELECT DATE", dateSelector.value)
    }

    function selectQuantity() {
        console.log("SELECT")
    }

    function getItemTimeSlot() {
        fetch(`/api/lab/quantity?labID=@lab.uuid&itemType=${1}&timestamp=${1620371953505}`, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json',
            }
        })
            .then(res => {
                return res.json()
            })
            .then(res => {
                console.log(res)
            })
            .catch(err => {
                console.log(err)
            })
    }

    /* -------------------------------------------------------------------------- */
    /*                                      x                                     */
    /* -------------------------------------------------------------------------- */

    const transactions = @Html.Raw(Json.Serialize(transactions));
    transactions.forEach(transaction => {
        transaction.created = new Date(transaction.created).setHours(0, 0, 0, 0)
        transaction.book_date = new Date(transaction.book_date).setHours(0, 0, 0, 0)
    })

    function selectDatex() {
        const selectedDate = new Date(document.getElementById("selected-date").value).setHours(0, 0, 0, 0)
        @* console.log(transactions) *@

        const availableTimeSlot = {
            am: items?.length,
            pm: items?.length,
        }

        transactions.forEach(transaction => {
            if (transaction.book_date !== selectedDate) return

            switch (transaction.time_id) {
                case 1:
                    availableTimeSlot.am -= 1
                    break;
                case 2:
                    availableTimeSlot.pm -= 1
                    break;
                case 3:
                    availableTimeSlot.am -= 1
                    availableTimeSlot.pm -= 1
                    break;
                default:
                    break;
            }
        })
        @* console.log("TIMESLOT",availableTimeSlot) *@

        const maxAvailableTimeSlot = availableTimeSlot.am > availableTimeSlot.pm ? availableTimeSlot.am : availableTimeSlot.pm
        @* console.log("MAX TIMESLOT", maxAvailableTimeSlot) *@

        const itemsAmountSelector = document.getElementById("item-amount-selector")
        @* console.log("CHILD COUNT", itemsAmountSelector.childElementCount) *@

        if (maxAvailableTimeSlot !== itemsAmountSelector.childElementCount) {
            itemsAmountSelector.innerHTML = ""

            itemsAmountSelector.options.add(new Option("เลือกจำนวนอุปกรณ์", "DUMMY"));
            for (let i = 1; i <= maxAvailableTimeSlot; ++i) {
                itemsAmountSelector.options.add(new Option(i, i));
            }
        }
    }

    function clearItemQuantity() {
        console.log("claer quantity")
    }

    function clearForm() {
        console.log("clear form")
    }

</script>
}