<div class="booking-container">
    <div class="lab-header">LAB NAME</div>
    <form action="">
        <div class="input-form">
            <div class="input-container">
                <label for="">อุปกรณ์</label>
                <select name="" id="">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="input-container">
                <label for="">วันที่</label>
                <input type="date" name="" id="" onchange="window.alert('eiei')" />
            </div>
            <div class="input-container">
                <label for="">จำนวน</label>
                <select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="input-time-select">
            <label>ช่วงเวลาที่สามารถจองได้</label>
            <div class="radio-container">
                <input type="radio" name="select-time" id="time-1">
                <label for="time-1" class="radio-label">09:00 - 12:00</label>
                <input type="radio" name="select-time" id="time-2">
                <label for="time-2" class="radio-label">13:00 - 16:00</label>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>