<div class="profile-container">
    <div class="pf-cont">
        <img class="pf-img" alt="pf-img" src="https://fq.lnwfile.com/zp2qee.jpg" />
        <div class="pf-detail-cont">
            <div class="student-name">พรรษา บุญทวีกุลสวัสดิ์</div>
            <div class=" pf-detail">
                <img class="detail-icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/3381/3381663.svg?token=exp=1619630348~hmac=06f66b23a609798e4acf2d218f667771" />
                <div>61011405</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/3557/3557915.svg?token=exp=1619630331~hmac=e0ef9a91c390e828555683c1bf1b3d87" />
                <div>คณะวิศวกรรมศาสตร์</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/983/983764.svg?token=exp=1619630136~hmac=251a355274e3770011c388759435e874" />
                <div>ภาควิชาวิศวกรรมคอมพิวเตอร์</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" alt=""
                    src="https://www.flaticon.com/svg/vstatic/svg/893/893257.svg?token=exp=1619630399~hmac=7d00449a8bbee34d3a598d07b9e8d1b4" />
                <div>61011405@kmitl.ac.th</div>
            </div>
        </div>
    </div>

    <div class="transaction-list-cont">
        <div class="transaction-list-header">
            <div>
                รายการยืมอุปกรณ์
            </div>
        </div>
        <div class="transaction-list">
            <div class="transaction-item">
                <div class="item-img"></div>
                <div class="item-detail-cont">
                    <div class="item-id">[รหัส] ชื่ออุปกรณ์</div>
                    <div class="item-trans-date">วันที่ยืม</div>
                </div>
                <button class="cancel-booking" title="ยกเลิกการจอง" type="submit" onclick="alert('cancel')">
                    <img alt="cancel-icon"
                        src="https://www.flaticon.com/svg/vstatic/svg/463/463612.svg?token=exp=1619629080~hmac=0ae268e77b18b573cd9a2433832cf12c" />
                </button>
            </div>
            <div class="transaction-item">
                <div class="item-img"></div>
                <div class="item-detail-cont">
                    <div class="item-id">[รหัส] ชื่ออุปกรณ์</div>
                    <div class="item-trans-date">วันที่ยืม</div>
                </div>
                <button class="cancel-booking" title="ยกเลิกการจอง" type="submit" onclick="alert('cancel')">
                    <img alt="cancel-icon"
                        src="https://www.flaticon.com/svg/vstatic/svg/463/463612.svg?token=exp=1619629080~hmac=0ae268e77b18b573cd9a2433832cf12c" />
                </button>
            </div>
        </div>
    </div>
</div>
</div>