<div class="pf-cont">
    <div class="pf-img-cont">
        <img src="https://fq.lnwfile.com/zp2qee.jpg" />
    </div>
    <div class="pf-detail-cont">
        <div>ชือ พรรษา </div>
        <div>นามสกุล บุญทวีกุลสวัสดิ์</div>
        <div>รหัสนักศึกษา 61011405</div>
        <div>คณะ วิศวกรรมศาสตร์</div>
        <div>ภาค วิศวกรรมคอมพิวเตอร์</div>
        <div>อีเมล 61011405@kmitl.ac.th</div>
    </div>
</div>

<div class="trans-hist">
    <div class="trans-hist-table">
        <div class="table-head table-item">วัน/เดือน/ปี</div>
        <div class="table-head table-item">ชื่ออุปกรณ์</div>
        <div class="table-head table-item">สถานะ</div>
        <button>eiei</button>
    </div>
</div>