<div class="profile-container">
    <div class="pf-cont">
        <img class="pf-img" alt="pf-img" src="https://fq.lnwfile.com/zp2qee.jpg" />
        <div class="pf-detail-cont">
            <div class="student-name">พรรษา บุญทวีกุลสวัสดิ์</div>
            <div class=" pf-detail">
                <img class="detail-icon" src="~/images/user-profile/id.svg" />
                <div>61011405</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" src="~/images/user-profile/faculty.svg" />
                <div>คณะวิศวกรรมศาสตร์</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" src="~/images/user-profile/department.svg" />
                <div>ภาควิชาวิศวกรรมคอมพิวเตอร์</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" alt="" src="~/images/user-profile/email.svg" />
                <div>61011405@kmitl.ac.th</div>
            </div>
        </div>
    </div>

    <div class="transaction-list-cont">
        <div class="transaction-list-header">
            <div>
                รายการยืมอุปกรณ์
            </div>
        </div>
        <div class="transaction-list">
            <div class="transaction-item">
                <div class="item-img"></div>
                <div class="item-detail-cont">
                    <div class="item-id">[รหัส] ชื่ออุปกรณ์</div>
                    <div class="item-trans-date">วันที่ยืม</div>
                </div>
                <button class="cancel-booking" title="ยกเลิกการจอง" type="submit" onclick="alert('cancel')">
                    <img alt="cancel-icon" src="~/images/user-profile/cancel.svg" />
                </button>
            </div>
            <div class="transaction-item">
                <div class="item-img"></div>
                <div class="item-detail-cont">
                    <div class="item-id">[รหัส] ชื่ออุปกรณ์</div>
                    <div class="item-trans-date">วันที่ยืม</div>
                </div>
                <button class="cancel-booking" title="ยกเลิกการจอง" type="submit" onclick="alert('cancel')">
                    <img alt="cancel-icon" src="~/images/user-profile/cancel.svg" />
                </button>
            </div>
        </div>
    </div>
</div>
</div>