@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="login">
        <div class="logo-lab">
            <img class="logo-pic" src="dog.jpg" alt="dog">
            <div class="logo-text">
                <p class="font-header">Double Lab</p>
            </div>
        </div>
        <div class="login-input">
            <form class="input" action="">
                <input class="input" id="username" type="text" placeholder="username">
                <input class="input" id="password" type="password" placeholder="password">
            </form>
            <button class="login-btn" id="login" onclick="myFunction()">Log in</button>
        </div>

    </div>
</div>