@{
    ViewData["Title"] = "Login";
}
<div class="contain-login">
    <div class="login">
        <div class="logo-lab">
            <img class="logo-pic"
                src="https://cdn.discordapp.com/attachments/817783466379968572/832547225749553172/flask.png"
                alt="dog">
            <div class="logo-text">
                <p class="font-header">Double Labs</p>
            </div>
        </div>
        <div class="login-input">
            <form class="contain-input" action="">
                <input class="input" id="username" type="text" placeholder="username">
                <input class="input" id="password" type="password" placeholder="password">
            </form>
            <div class="contain-btn">
                <button class="login-btn" id="login" onclick="myFunction()">Log in</button>
            </div>
        </div>
    </div>
</div>