@{
    var img = @Url.Content("");
  }

<link href="@Url.Content("~/css/landing_page_style.css")" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap" rel="stylesheet">

<div class="landing-page-container">
    @* <div id="background-img-container">
        <img src="~/images/bg.svg" id="background-img"/>
        <img src="~/images/WebWindow.png" width="30%" id="showimg1"/>
    </div> *@
    <div class="content-container">
        <div class="cover-container">
            <div class="form-container">
                <div class="form-text-content">
                    <h1>Double Lab</h1>
                    <p>ต้องการยืมของ? Double Lab ช่วยคุณได้ เพียงแค่ไม่กี่ขั้นตอนคุณก็พร้อมจะยิม คืน ตามที่คุณต้องการ</p>
                </div>
                <button id="reg-button" onclick="onLogin()">Log in</button>
            </div>
        </div>
        <div class="feature-container">
            <div class="text-content-container">
                    <div class="text-container" id="tc1">
                        <h1 class="header">ยืมอะไรไปแล้วบ้าง</h1>
                        <h2>ไม่ต้องกังวลเรื้องลิมตืนของ เรามีรายการแสดงของที้คุณยืมไว้แล้ว</h2>
                    </div>
                    <div class="text-container" id="tc2">
                        <h1 class="header">ยืมได้เลย</h1>
                        <h2>เลือกห้องแลปแล้วเลือกอุปกรณ์ที่ต้องการยืมได้เลย</h2>
                    </div>
                    <div class="side-image-container">
                        <div class="image-container" id="img-con">
                            <img src="~/images/img1.png" id="feature-img1"/>
                            <img src="~/images/img2.png" id="feature-img2" hidden/>
                        </div>
                        
                    </div>
            </div>
            
        </div>
    </div>
    
    
    @* <div class="layer base">
            
    </div> *@

    <script>
        function onLogin() {
            location.href=`../Login`
        }
        
        window.onscroll = function() {
            let pos = window.scrollY
            let threshold = window.innerHeight <= 720
            let divider = 1;
            if (threshold) {
                divider = 2;
            }
            console.log(pos)
            if (pos < 630 / divider) {
                document.getElementById("feature-img1").hidden = false;
                document.getElementById("feature-img2").hidden = true;
            }
            else if (pos < 1730 / divider) {
                document.getElementById("feature-img1").hidden = true;
                document.getElementById("feature-img2").hidden = false;
            }
        }

        
    </script>
    
    
</div>
