@{
    Laboratory labDetail = ViewData["LabDetail"] as Laboratory;
    List<int> itemSet = ViewData["ItemSet"] as List<int>;
    List<int> itemQuantity = ViewData["ItemQuantity"] as List<int>;
    int labID = (int)ViewData["LabID"];
}

<div class="lab-detail-container">
    <div class="lab-detail-box">
        <h2>@labDetail.name</h2>
        <p>@labDetail.description</p>
    </div>
    <div class="lab-device-list-table-container">
        <table>
            <thead>
                <th>อุปกรณ์</th>
                <th>จำนวนทั้งหมด</th>
            </thead>
            <tbody>
                @for (int i = 0; i < itemSet.Count; i++)
                {
                    <tr>
                        <td>@Item.getName(itemSet[i])</td>
                        <td>@itemQuantity[i]</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="button-box">
            <a asp-controller="Lab" asp-action="Index">
                <button class="ghost-button">กลับ</button>
            </a>
            <a class="booking-btn" href="@labID/Booking">
                <button class="ghost-button">จอง</button>
            </a>
        </div>
    </div>
</div>

<script>
    userAuthorizeLabDetail();

    function userAuthorizeLabDetail() {
        if (!isLoggedIn()) document.querySelector(".lab-detail-container .booking-btn").href = "/Login";
    }
</script>