.contain-login {
  padding-top: 2%;
  margin: 0 auto;
  width: 50%;
  display: block;
}

.logo-lab {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-pic {
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 5%;
}

.logo-text {
  line-height: 50px;
  display: flex;
}

.font-header {
  font-size: 20px;
  font-family: "Itim";
}
.login {
  /* border: 3px solid pink; */
  margin: 0 auto;
  width: 250px;
  max-width: 300px;
  border: 2.5px solid #64bdf8;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.login-input {
  margin: 0 auto;
  width: 90%;
}
.contain-input {
  margin: 0 auto;
  width: 90%;
}
.input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  margin: 5px auto;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Itim";
  border: 1px solid #999999;
  border-radius: 4px;
}

#username {
  background-color: #f8f4f4;
}

#password {
  background-color: #f8f4f4;
}

.contain-btn {
  margin: 0 auto;
  width: 90%;
}
.login-btn {
  font-size: 16px;
  font-family: "Itim";
  background-color: #1a91da;
  color: white;
  padding: 8px 20px;
  margin: 50px 0px 25px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: auto;
}
